@import './global.scss';

.activity-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  width: 100%;

  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;

  &__content {
    font-size: 1.25rem;
    align-self: flex-start;
    width: 100%;
    word-break: break-all;
    text-align: start;
  }

  &__update {
    color: #c9c9c9;
    font-size: 0.75rem;
    align-self: flex-end;
    user-select: none;
    // color: #dcdcdc
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.25rem;
    margin: 0px 0px 10px 0px;
  }

  &__save {
    height: 3rem;
    width: 3.5rem;
    background-image: url('/submit_white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &_0 {
    border: 2px dashed $sunday-primary;
  }

  &_1 {
    border: 2px dashed $monday-primary;
  }

  &_2 {
    border: 2px dashed $thuesday-primary;
  }

  &_3 {
    border: 2px dashed $wednesday-primary;
  }

  &_4 {
    border: 2px dashed $thursday-primary;
  }

  &_5 {
    border: 2px dashed $friday-primary;
  }

  &_6 {
    border: 2px dashed $saturday-primary;
  }
}
