@import './global.scss';

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;

  background-color: inherit;
  border-radius: 100%;

  &_0 {
    background-color: $sunday-primary;
  }

  &_1 {
    background-color: $monday-primary;
  }

  &_2 {
    background-color: $thuesday-primary;
  }

  &_3 {
    background-color: $wednesday-primary;
  }

  &_4 {
    background-color: $thursday-primary;
  }

  &_5 {
    background-color: $friday-primary;
  }

  &_6 {
    background-color: $saturday-primary;
  }
}

.days-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0px 0px 10px 0px;

  &__day:not(:last-child) {
    margin: 0px 5px 0px 0px;
  }
}
