$sunday-primary: #d35400;
$monday-primary: #9b59b6;
$thuesday-primary: #3498db;
$wednesday-primary: #2ecc71;
$thursday-primary: #f1c40f;
$friday-primary: #e67e22;
$saturday-primary: #e74c3c;

$mobile-width: 320px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1280px;
